@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0a192f;
  color: #94a3b8;
}

/* Custom scrollbar to make it look "pro" */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a192f;
}
::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}